/* Styles for Title Slide */
.title-slide {
  background-color: white; /* #EDE0CF; ; #CA9F9D*/
}

.title-slide hgroup > h1{
 font-family: 'Oswald', 'Helvetica', sanserif;
 color: #444 ;
}

.title-slide hgroup > h1, 
.title-slide hgroup > h2 {
  color: #444 ;  /* ; #EF5150*/
}
